# PostgreSQL
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/legal_chatbot

# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=legal_chunks

# HuggingFace
HF_API_TOKEN=hf_your_token_here
HF_MODEL_ID=Qwen/Qwen2.5-72B-Instruct
# Gemini
GEMINI_API_KEY=

# Models
EMBEDDING_MODEL=BAAI/bge-m3
RERANKER_MODEL=BAAI/bge-reranker-v2-m3

#Evaluation
SHOPAIKEY_API_KEY=your_token_here