--extra-index-url https://download.pytorch.org/whl/cu118
# Web framework
fastapi
uvicorn[standard]

# Database
sqlalchemy[asyncio]
asyncpg

# Vector store
qdrant-client

# ML models
sentence-transformers
huggingface-hub
fastembed
google-genai
torch
torchvision
torchaudio
onnxruntime-gpu

# Config
pydantic-settings
python-dotenv

# UI
streamlit
requests

pyvi
pymupdf
PyPDF2
langchain
langchain-text-splitters