# Web framework
fastapi
uvicorn[standard]

# Database
sqlalchemy[asyncio]
asyncpg

# Vector store
qdrant-client

# ML models
sentence-transformers
huggingface-hub
google-genai

# Config
pydantic-settings
python-dotenv

# UI
streamlit
requests

pyvi
pymupdf
PyPDF2
langchain
langchain-text-splitters